html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;



    background: rgb(0,153,204);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,153,204,1) 0%, rgba(0,77,124,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,153,204,1)), color-stop(100%,rgba(0,77,124,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,153,204,1) 0%,rgba(0,77,124,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,153,204,1) 0%,rgba(0,77,124,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,153,204,1) 0%,rgba(0,77,124,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,153,204,1) 0%,rgba(0,77,124,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#004d7c',GradientType=1 );


}

#stage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


}