<div class="page conversation-page">
    <div class="container-fluid top-bar">
        <div class="row header">
            <div class="col-xs-9 col-md-9 title">
                <span class="back-button" ng-click="goBack()">
                    <i class="etp etp-chevron-thin-left"></i>
                </span>
                <span class="title" ng-click="showRightPanel=true">{{title}}</span>
            </div>
            <div class="col-xs-3 col-md-3 options">
                <i class="etp etp-users" ng-click="showRightPanel=!showRightPanel"></i>
                <i class="etp etp-dots-three-vertical" ng-click="$emit('showDropDown')"></i>
            </div>
        </div>
    </div>
    <div class="conversation-wrapper">
        <div class="conversation-panel" chat-scroll></div>
        <div class="input-panel">
                <span class="chat-input-wrapper">
                    <input type="text" class="chat-input" ng-model="message" placeholder="Write message here" auto-direction>
                    <i class="etp etp-attachment attachment ng-hide"></i>
                </span>
            <button class="submit-button" ng-class="{'no-text':!message}" ng-click="send()"><i class="etp etp-location-pin"></i></button>
        </div>
        <div class="right-panel" ng-show="showRightPanel">
            <div ng-repeat="friend in friends" class="chat-row" ng-if="friend._id != MyUserId" ng-click="go(friend)">
                <div class="chat-profile" style="background-image:url('data:image/jpeg;base64,{{friend.picture.image}}')"></div>
                <div class="chat-content">
                    {{ friend.name }}</div>
            </div>
        </div>
    </div>
</div>