<div class="chat-row" ng-click="go(1)">
    <div class="chat-profile" style=""><i class="etp etp-modern-mic"></i></div>
    <div class="chat-content">
        <div class="title">פטפוטים</div>
        <div class="last-message">מה??</div>
    </div>
</div>
<div class="chat-row" ng-click="go(2)">
    <div class="chat-profile" style=""><i class="etp etp-video"></i></div>
    <div class="chat-content">
        <div class="title">סמסטר קיץ 2015</div>
        <div class="last-message">מה??</div>
    </div>
</div>
<div class="chat-row" ng-click="go(3)">
    <div class="chat-profile" style="">
        <i class="etp etp-video"></i>
    </div>
    <div class="chat-content">
        <div class="title">סמסטר א 2015</div>
        <div class="last-message">מה??</div>
    </div>
</div>
<div class="chat-row private" ng-click="go(4)">
    <div class="chat-profile" style="">
        <i class="etp etp-emoji-flirt"></i>
    </div>
    <div class="chat-content">
        <span class="title">צוות פרטי</span>
        <span class="count-friends">Private</span>
        <div class="last-message">מתי מגישים את זה?</div>
    </div>
</div>

<div class="chat-row add" ng-click="go(5)">
    <div class="chat-profile" style="">
        <i class="etp etp-plus"></i>
    </div>
    <div class="chat-content">
        <div class="title">Add Thread</div>
        <div class="last-message">Click here to create a new thread</div>
    </div>
</div>