<table width="100%" height="100%" class="login login-bg">
    <tr>
        <td width="100%" height="100%" valign="middle" align="center">
            <div>
                <div class="login-title"><img src="images/mlogo.png" class="logo-img">linger</div>
                <div class="login-input-wrapper">
                    <input type="email" class="login-input" ng-model="user.email" placeholder="Email">
                </div>
                <div class="login-input-wrapper">
                    <input type="text" class="login-input" ng-model="user.name" placeholder="Full Name">
                </div>
                <div class="login-input-wrapper">
                    <input type="password" class="login-input" ng-model="user.password" placeholder="Password">
                </div>
                <div class="login-input-wrapper">
                    <input type="password" class="login-input" ng-model="passwordRepeat" placeholder="Password Repeat">
                </div>
                <div>
                    <button class="login-button" ng-click="register()">Register</button>
                </div>
            </div>
        </td>
    </tr>
</table>