<div class="page">
    <div class="container-fluid top-bar">
        <div class="row header">
            <div class="col-xs-6 col-md-6 title">
                <span class="back-button" ng-click="goBack()">
                    <i class="etp etp-chevron-thin-left"></i>
                </span>
                <span class="title">{{title}}</span>
            </div>
            <div class="col-xs-6 col-md-6 options">
                <span>
                    <i class="etp etp-dots-three-vertical" ng-click="$emit('showDropDown')"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="view-content chat-panel" ng-include="'html/chat-threads.html'" ng-controller="ChatThreadsController"></div>
    <div ui-view class="page-view"></div>
</div>