<!--<script>-->
    <!--// listener, whenever the server emits 'updatechat', this updates the chat body-->
    <!--socket.on('updatechat', function (username, data) {-->
        <!--$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');-->
    <!--});-->
<!--</script>-->
<head>
    <script> var socket = io()</script>
</head>
<div class="page">
    <div class="container-fluid top-bar">
        <div class="row header">
            <div class="col-xs-6 col-md-6 title">
                <span class="back-button" ng-click="goBack()">
                    <i class="etp etp-chevron-thin-left"></i>
                </span>
                <span class="title">Test</span>
            </div>
            <div class="col-xs-6 col-md-6 options">
                <span>
                    <i class="etp etp-dots-three-vertical" ng-click="$emit('showDropDown')"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="view-content chat-panel">
        <div class="conversation-panel" id="conversation" chat-scroll></div>
        <div class="input-panel">
            <input type="text" class="chat-input" id="roomnum" placeholder="Enter Room Number" auto-direction>
            <span class="chat-input-wrapper">

                <input type="text" class="chat-input" id="data" placeholder="Write message here" auto-direction>
                <i class="etp etp-attachment attachment"></i>
            </span>
            <button class="submit-button" id="datasend"><i class="etp etp-location-pin"></i></button>
        </div>
    </div>
</div>